
@{
    ViewBag.Title = "Index";
}

<h1>Carrossel</h1>
<a href="/Carrossel/Create">Cadastrar</a>
<a href="/Carrossel/List">Lista</a> <br />
<img src="https://www.silmaq.com.br/wp-content/uploads/2020/02/MR-%E2%80%93-NIPPON-S%C3%89RIE-2000-Sportsman-600x315.jpg" alt="carrossel de estamparia" />

