
@{
    ViewBag.Title = "Index";
}

<h1>Manual</h1>
<a href="/Manual/Create">Cadastrar</a>
<a href="/Manual/List">Lista</a><br />
<img src="https://camisetasilk.com.br/wp-content/uploads/2020/06/mesa-corrida.png" alt="Mesa de estampar" />

